.loader {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: 1s displaynoneloader 1000000ms ease forwards;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .loader-box {
        width: 48px;
        height: 48px;
        margin: 50px;
        position: relative;

        &:before {
            content: '';
            width: 48px;
            height: 5px;
            background: #f0808050;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow324 0.5s linear infinite;
        }

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            background: #f08080;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            animation: jump7456 0.5s linear infinite;
        }


    }

    .loader-texte {
        position: relative;


        & span {
            position: absolute;
            color: #fff;
            transform: translate(-50%, -50%);
            font-size: 38px;
            letter-spacing: 5px;

            &:nth-child(1) {
                color: transparent;
                -webkit-text-stroke: 0.3px rgb(128, 198, 255);
            }

            &:nth-child(2) {
                color: rgb(128, 198, 255);
                -webkit-text-stroke: 1px rgb(128, 198, 255);
                animation: uiverse723 3s ease-in-out infinite;
            }
        }
    }

}